<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Nathaniel Christie</h1>
    <p>My name is Nathaniel Christie and I'm not the fastest man alive.
        But I do have a particular set of skills. I will find you, and I will give you $10.
    </p>
</body>
</html>